<p class="nav-top-words">
  对于学习, 我们很严肃
</p>
<ul class="nav-top-links">
  <li class="nav-top-sign-buttons">
    <%= link_to "登录 / 注册", "#" %>
  </li>
  <li class="nav-top-social-buttons">
    <%= link_to content_tag(:i, '', :class => "fa fa-twitter"), '#' %>
    <%= link_to content_tag(:i, '', :class => 'fa fa-facebook'), '#' %>
    <%= link_to content_tag(:i, '', :class => 'fa fa-google-plus'), '#' %>
    <%= link_to content_tag(:i, '', :class => 'fa fa-rss'), '#' %>
  </li>
</ul>
